.light-primary-color {
  color: #EEC8B8;
}

.default-primary-color  {
  color: #C9995B;
}

.accent-color {
  color: #F4DDD2;
}

.secondary-primary-color {
  color: #FBF2ED;
}

.dark-primary-color {
  color: #000000;
}

.text-primary-color {
  color: #FFFFFF;
}
